# Ignore all files under data while preserving directory structure
data/**
!data/**/

# Ignore the results directory
results/**

# Ignore the models
models/**

# Ignore MOT reference docs (documentation from the website)
reference_docs/**

# Ignor pycache files
__pycache__/**

# Ignore .vscode
.vscode/**